header {
    position: relative;

    #main_nav {

        // padding: 45px 0;
        @media (max-width: 1204px) {
            padding: 47px 0;

        }

        .nav_left {
            img {
                @extend %img-contain;
                width: 80%;

                @media (max-width: 1204px) {
                    width: 208px;

                }
            }
        }

        .row_nav {
            position: relative;
        }

        .nav_details {
            @extend %d-flex;
            justify-content: flex-start;
            gap: 50px;

            @media (max-width: 1204px) {
                display: none;

            }

            li {
                position: relative;
                padding: 45px 0;
                position: relative;

                a {
                    position: relative;

                    &:hover {
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: black;
                        }
                    }

                    @include _All($f_size: 12px,
                        $f_weight: 500,
                        $color: $main_color,
                        $l_height: 22px,
                        $letter_spacing: 0.1em,
                        $txt_dec: none);

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: black;
                        transition: 0.4s ease-in-out;
                    }
                }

                #home_id {
                    border-bottom: 1px solid $text_color_gray;
                }


                .nav_home_details {
                    height: 0;
                    overflow: hidden;
                    @include _All($width: 240px, $bcg_color: #fff);
                    position: absolute;
                    top: 107px;
                    left: -26px;
                    z-index: 8;
                    transition: 0.4s ease-in-out;
                    padding: 0 0 0 26px;

                    li {
                        margin-bottom: 17px;
                        padding: 0;

                        a {
                            position: relative;
                            @include _All($f_size: 13px, $border: none, $color: $text_color_gray, $letter_spacing: 0px);
                            transition: 0.3s ease-in-out;
                        }

                        #main_home_id {
                            border-bottom: 1px solid $text_color_gray;
                        }

                        &:first-child {
                            padding-top: 20px;
                        }

                    }
                }
            }

            #home_li {
                &:hover {
                    .nav_home_details {
                        height: 310px;
                    }
                }
            }

            #pages_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #portfolio_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #blog_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #elements_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #shop_li {
                position: static;

                &:hover {
                    .nav_all_ul {
                        height: 460px;
                    }
                }

                .nav_all_ul {
                    height: 0;
                    display: flex;
                    justify-content: start;
                    position: absolute;
                    gap: 150px;
                    top: 100px;
                    left: 10px;
                    z-index: 8;
                    transition: 0.4s ease-in-out;
                    padding: 0 0 0 26px;
                    @include _All($width: 1140px, $bcg_color: #fff);
                    overflow: hidden;

                    .nav_home_details2 {
                        li {
                            margin-bottom: 17px;
                            padding: 0;

                            a {
                                position: relative;
                                @include _All($f_size: 13px, $border: none, $color: $text_color_gray, $letter_spacing: 0px);
                                transition: 0.3s ease-in-out;
                            }

                            &:first-child {
                                padding-top: 20px;
                            }

                        }

                        span {
                            @extend %big-h1-copy;
                            color: $iframe_right_h1_color;
                            font-size: 22px;
                            font-weight: 500;
                        }
                    }
                }


            }


            .special_add_to_cart {

                i {
                    @include _All($f_size: 19px,
                        $f_weight: 600,
                        $color: #1b1b1bbd,
                        $l_height: 22px,
                        $letter_spacing: 0.1em,
                        $txt_dec: none);
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:first-child {
                        &:hover {
                            color: $secondary_color;
                        }
                    }
                }

                #add_to_cart_icon {
                    position: relative;
                    color: $main_color;
                    margin-right: 5px;
                    margin-left: 15px;

                    span {
                        position: absolute;
                        @extend %d-flex;
                        @include _All($width: 15px, $height: 15px, $margin: 0 auto, $border_r: 50%, $bcg_color: $secondary_color, $color: white, $f_size: 9px, $f_weight: 700, $top: -3px, $right: -3px);
                    }
                }

                span {
                    @include _All($f_size: 12px, $f_weight: 500, $color: $main_color, $l_height: 22px, $letter_spacing: 0.1em, $txt_dec: none);
                }
            }
        }

        .bar {
            display: flex;
            justify-content: end;
            gap: 50px;

            li {
                i {
                    display: none;

                    @media (max-width: 1204px) {
                        display: block;
                    }
                }
            }
        }
    }

    #mobile_nav {

        .nav_details {
            transform: translateX(100%);
            transition: 0.3s ease-in-out;
            z-index: 10;
            position: fixed;
            top: 0;
            right: 0;
            background: #fff;
            padding: 83px 56px 100px 35px;
            width: 350px;
            gap: 16px;

            @media (max-width: 1204px) {
                // display: none;

            }

            li {
                position: relative;
                // padding: 45px 0;
                margin-bottom: 16px;

                a {
                    position: relative;

                    &:hover {
                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: black;
                        }
                    }

                    @include _All($f_size: 12px,
                        $f_weight: 500,
                        $color: $main_color,
                        $l_height: 22px,
                        $letter_spacing: 0.1em,
                        $txt_dec: none);

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        width: 0;
                        height: 1px;
                        background-color: black;
                        transition: 0.4s ease-in-out;
                    }
                }

                #home_id {
                    border-bottom: 1px solid $text_color_gray;
                }


                .nav_home_details {
                    height: 0;
                    overflow: hidden;
                    @include _All($width: 240px, $bcg_color: #fff);
                    position: absolute;
                    top: 107px;
                    left: -26px;
                    z-index: 8;
                    transition: 0.4s ease-in-out;
                    padding: 0 0 0 26px;

                    li {
                        margin-bottom: 17px;
                        padding: 0;

                        a {
                            position: relative;
                            @include _All($f_size: 13px, $border: none, $color: $text_color_gray, $letter_spacing: 0px);
                            transition: 0.3s ease-in-out;
                        }

                        #main_home_id {
                            border-bottom: 1px solid $text_color_gray;
                        }

                        &:first-child {
                            padding-top: 20px;
                        }

                    }
                }
            }

            #home_li {
                display: flex;
                justify-content: space-between;

                &:hover {
                    .nav_home_details {
                        height: 310px;
                    }
                }

                i {
                    font-size: 18px;
                }
            }

            #pages_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #portfolio_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #blog_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #elements_li {
                &:hover {
                    .nav_home_details {
                        height: 140px;
                    }
                }
            }

            #shop_li {
                position: static;

                &:hover {
                    .nav_all_ul {
                        height: 460px;
                    }
                }

                .nav_all_ul {
                    height: 0;
                    display: flex;
                    justify-content: start;
                    position: absolute;
                    gap: 150px;
                    top: 100px;
                    left: 10px;
                    z-index: 8;
                    transition: 0.4s ease-in-out;
                    padding: 0 0 0 26px;
                    @include _All($width: 1140px, $bcg_color: #fff);
                    overflow: hidden;

                    .nav_home_details2 {
                        li {
                            margin-bottom: 17px;
                            padding: 0;

                            a {
                                position: relative;
                                @include _All($f_size: 13px, $border: none, $color: $text_color_gray, $letter_spacing: 0px);
                                transition: 0.3s ease-in-out;
                            }

                            &:first-child {
                                padding-top: 20px;
                            }

                        }

                        span {
                            @extend %big-h1-copy;
                            color: $iframe_right_h1_color;
                            font-size: 22px;
                            font-weight: 500;
                        }
                    }
                }


            }


            .special_add_to_cart {

                i {
                    @include _All($f_size: 19px,
                        $f_weight: 600,
                        $color: #1b1b1bbd,
                        $l_height: 22px,
                        $letter_spacing: 0.1em,
                        $txt_dec: none);
                    cursor: pointer;
                    transition: 0.3s ease-in-out;

                    &:first-child {
                        &:hover {
                            color: $secondary_color;
                        }
                    }
                }

                #add_to_cart_icon {
                    position: relative;
                    color: $main_color;
                    margin-right: 5px;
                    margin-left: 15px;

                    span {
                        position: absolute;
                        @extend %d-flex;
                        @include _All($width: 15px, $height: 15px, $margin: 0 auto, $border_r: 50%, $bcg_color: $secondary_color, $color: white, $f_size: 9px, $f_weight: 700, $top: -3px, $right: -3px);
                    }
                }

                span {
                    @include _All($f_size: 12px, $f_weight: 500, $color: $main_color, $l_height: 22px, $letter_spacing: 0.1em, $txt_dec: none);
                }
            }
        }
    }
}

main {
    #contact_map {

        .map_box {
            position: relative;
            text-align: right;
            height: 320px;
            width: 100%;

            .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 320px;
                width: 100%;

                iframe {
                    width: 100%;
                    height: 320px;
                }
            }
        }
    }

    #contact_touch {
        margin-top: 100px;

        .touch_left {
            background-color: $contact_branch_bcg_color;
            padding: 50px 40px;
            text-align: center;

            @media (max-width:768px) {
                padding: 50px 10px;
            }
            .touch_img {
                width: 154px;
                margin: 0 auto 20px auto;

                img {
                    @extend %img-contain;
                }
            }

            .touch_details {
                @extend %send_left-copy;

                h1 {
                    font-size: 38px;
                    color: $iframe_right_h1_color;
                    @media (max-width:768px) {
                        font-size: 30px;
                    }
                }

                .logo {
                    img {
                        @extend %img-contain;

                    }
                }
            }
        }

        .touch_right {
            max-width: 490px;
            margin: 0 auto;
            @extend %send_left-copy;
            @media (max-width: 992px) {
                text-align: center;
                margin: 30px auto 30px auto;
            }
            h1 {
                font-size: 38px;
                color: $iframe_right_h1_color;
            }
            p {
                font-size: 15px;
            }
            @extend %form-copy;
            input {
                width: 100%;
                border: 1px solid $border_bottom_color;
                border-radius: 3px;
                margin-bottom: 20px;
            }
            button {
                padding: 10px 35px;
            }
            textarea {
                margin-bottom: 20px;
                @include _All($color: $input_color, $f_size: 12px);
                @include _All($padding: 21px, $border: none);
                width: 100%;
                border: 1px solid $border_bottom_color;
                border-radius: 3px;
                display: block;
                &::placeholder {
                    @include _All($color: $input_color, $f_size: 12px);
                }
            }
        }
    }
}

footer {
    background-color: $footer_background;
    padding: 70px 0 0 0;

   @media (max-width: 776px) {
    .col-lg-3 {
        display: inline-flex;
        justify-content: center;
        text-align: center;
       
    }
    .col-lg-4 {
        display: inline-flex;
        justify-content: center;
        text-align: center;
        .footer_right {
            justify-content: center;
        }
    }
   }

    .row_foot {
        border-bottom: 1px solid $border_bottom_color;
    }

    .footer_box {
        padding-bottom: 70px;

        li {
            margin: 0 0 5px 0;

            a {
                @extend %a-copy;
                @include _All($txt_transform: uppercase, $cursor: pointer, $color: black);

            }

            span {
                @extend %span-for-expert-copy;
                color: $footer_span_color;
            }

            &:first-child {
                margin-bottom: 25px;
            }
        }
    }

    .footer_left {
        span {
            &:nth-child(2) {
                color: $iframe_right_h1_color;
            }

            @extend %span-copy;

        }
    }

    .footer_centre {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            @extend %img-contain;
        }
    }

    .footer_right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 30px;

        span {
            @extend %a-copy;
            color: $footer_right_span_color;
            font-size: 10px;
        }
    }
}
