@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer .footer_centre img, main #swiper_navigation .swiper .swiper-slide img, main #valentine .iframe_right .hand_items li img, main #isotope1 .isotop_card .img img, main #send .send_left .send_img img, header #main_nav .nav_left img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

main #send .back_image_box img, main #send .send_right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

main #join .join_box form, main #expert .expert_images .expert_details, main #valentine .iframe_box a i, main #isotope1 .isotop_card .isotop_details, header #main_nav .nav_details .special_add_to_cart #add_to_cart_icon span, header #main_nav .nav_details, main #swiper_navigation .swiper .swiper-slide .swiper_navigate_details, main #isotope1 .nav_details-3 .special_add_to_cart #add_to_cart_icon span, main #isotope1 .nav_details-2 .special_add_to_cart #add_to_cart_icon span, main #isotope1 .nav_details-3, main #isotope1 .nav_details-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #isotope1 .nav_details-3, main #isotope1 .nav_details-2 {
  justify-content: flex-start;
  gap: 50px;
}
main #isotope1 .nav_details-3 li a, main #isotope1 .nav_details-2 li a {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
main #isotope1 .nav_details-3 .special_add_to_cart i, main #isotope1 .nav_details-2 .special_add_to_cart i {
  font-size: 19px;
  font-weight: 600;
  color: rgba(27, 27, 27, 0.7411764706);
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
main #isotope1 .nav_details-3 .special_add_to_cart #add_to_cart_icon, main #isotope1 .nav_details-2 .special_add_to_cart #add_to_cart_icon {
  position: relative;
  color: #1b1b1b;
  margin-right: 5px;
  margin-left: 15px;
}
main #isotope1 .nav_details-3 .special_add_to_cart #add_to_cart_icon span, main #isotope1 .nav_details-2 .special_add_to_cart #add_to_cart_icon span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  border-right: 50%;
  top: -3px;
  right: -3px;
  background-color: #f34f3f;
}
main #isotope1 .nav_details-3 .special_add_to_cart span, main #isotope1 .nav_details-2 .special_add_to_cart span {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer .footer_right span, footer .footer_box li a, main #blog .blog_box .blog_img .blog_time a, main #join .join_box form button, main #expert .expert_images .expert_details a, main #isotope1 .isotop_card .isotop_details a, main #isotope1 .nav_details-2 li, main #swiper_navigation .swiper .swiper-slide .swiper_navigate_details a {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
}

footer .footer_left span {
  font-size: 12px;
  color: #afafaf;
}

main #valentine .iframe_right h1 {
  font-family: "Playfair Display", serif;
  font-size: 41px;
  font-weight: 400;
  color: black;
  line-height: 51px;
  margin: 0 0 20px 0;
}
main #valentine .iframe_right h1 span {
  font-family: "Playfair Display", serif;
  color: red;
}
main #valentine .iframe_right p {
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 106, 106);
  line-height: 29px;
  margin: 0 0 30px 0;
}

main #join .join_box h1, main #expert .expert_header h1, header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 span, main #blog .blog_box .blog_details h1, main #blog .blog_header h1 {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 400;
  color: black;
  line-height: 51px;
  margin: 0 0 20px 0;
}

main #expert .expert_header p, main #blog .blog_box .blog_details p, main #blog .blog_header p {
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 106, 106);
  line-height: 29px;
  margin: 0 0 30px 0;
}

footer .footer_box li span, main #expert .expert_images .expert_details span, main #swiper_navigation .swiper .swiper-slide .swiper_navigate_details span {
  font-size: 12px;
  color: #afafaf;
  text-align: center;
  transition: 0.4s ease-in-out;
}

main #blog .blog_box .blog_details, main #blog .blog_header {
  text-align: center;
}
main #blog .blog_box .blog_details h1, main #blog .blog_header h1 {
  color: rgba(0, 0, 0, 0.842);
}
main #blog .blog_box .blog_details p, main #blog .blog_header p {
  max-width: 535px;
  margin: 0 auto;
}

main #swiper_navigation .swiper .swiper-slide .swiper_navigate_details {
  flex-direction: column;
  text-align: center;
}
main #swiper_navigation .swiper .swiper-slide .swiper_navigate_details a {
  text-transform: uppercase;
  margin-bottom: 5px;
  cursor: pointer;
}
header #main_nav .nav_left img {
  width: 80%;
}
header #main_nav .row_nav {
  position: relative;
}
header #main_nav .nav_details {
  justify-content: flex-start;
  gap: 50px;
}
header #main_nav .nav_details li {
  position: relative;
  padding: 45px 0;
}
header #main_nav .nav_details li a {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
header #main_nav .nav_details li #home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #main_nav .nav_details li .nav_home_details {
  height: 0;
  overflow: hidden;
  width: 240px;
  background-color: #fff;
  position: absolute;
  top: 107px;
  left: -26px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
}
header #main_nav .nav_details li .nav_home_details li {
  margin-bottom: 17px;
  padding: 0;
}
header #main_nav .nav_details li .nav_home_details li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details li .nav_home_details li #main_home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #main_nav .nav_details li .nav_home_details li:first-child {
  padding-top: 20px;
}
header #main_nav .nav_details #home_li:hover .nav_home_details {
  height: 290px;
}
header #main_nav .nav_details #pages_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #portfolio_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #blog_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #elements_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #shop_li {
  position: static;
}
header #main_nav .nav_details #shop_li:hover .nav_all_ul {
  height: 940px;
}
header #main_nav .nav_details #shop_li .nav_all_ul {
  height: 0;
  display: flex;
  justify-content: start;
  position: absolute;
  gap: 150px;
  top: 100px;
  left: 10px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
  width: 1140px;
  background-color: #fff;
  overflow: hidden;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li {
  margin-bottom: 17px;
  padding: 0;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li:first-child {
  padding-top: 20px;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 span {
  color: rgba(0, 0, 0, 0.842);
  font-size: 22px;
  font-weight: 500;
}
header #main_nav .nav_details .special_add_to_cart i {
  font-size: 19px;
  font-weight: 600;
  color: rgba(27, 27, 27, 0.7411764706);
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
header #main_nav .nav_details .special_add_to_cart #add_to_cart_icon {
  position: relative;
  color: #1b1b1b;
  margin-right: 5px;
  margin-left: 15px;
}
header #main_nav .nav_details .special_add_to_cart #add_to_cart_icon span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  border-right: 50%;
  top: -3px;
  right: -3px;
  background-color: #f34f3f;
}
header #main_nav .nav_details .special_add_to_cart span {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

main {
  position: relative;
}
main .container {
  position: relative;
}
@media (max-width: 992px) {
  main .container {
    position: static;
  }
}
main #send {
  background-color: #f3f3f3;
}
@media (max-width: 992px) {
  main #send {
    position: relative;
  }
}
main #send .send_left {
  position: relative;
  padding: 86px 0 96px 0;
  z-index: 2;
}
main #send .send_left h1 {
  max-width: 347px;
  font-family: "Playfair Display", serif;
  font-size: 41px;
  font-weight: 400;
  color: black;
  line-height: 51px;
  margin: 0 0 20px 0;
}
main #send .send_left h1 span {
  font-family: "Playfair Display", serif;
  color: red;
}
main #send .send_left p {
  max-width: 402px;
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 106, 106);
  line-height: 29px;
  margin: 0 0 30px 0;
}
main #send .send_right img {
  max-width: 400px;
  height: 100vh;
}
main #send .back_image_box {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}
main #send .back_image_box img {
  width: 100%;
  height: 477px;
  transition: 4s ease-in-out;
}
main #isotope1 {
  padding: 80px 0;
}
main #isotope1 .nav_details-2 {
  gap: 33px;
}
main #isotope1 .nav_details-2 .active {
  color: red;
}
main #isotope1 .nav_details-3 {
  justify-content: flex-end;
}
main #isotope1 .nav_details-3 li i {
  margin-left: 10px;
}
main #isotope1 .isotop_card:hover .img img {
  transform: scale(1.03);
}
main #isotope1 .isotop_card:hover .isotop_details span {
  transform: translateX(300px);
}
main #isotope1 .isotop_card:hover .isotop_details .span_hover {
  transform: translateX(0px);
}
main #isotope1 .isotop_card .img {
  width: 245px;
  margin: 0 auto;
}
main #isotope1 .isotop_card .img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
main #isotope1 .isotop_card .isotop_details {
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
main #isotope1 .isotop_card .isotop_details a {
  text-transform: uppercase;
  margin-bottom: 5px;
}
main #isotope1 .isotop_card .isotop_details span {
  font-size: 12px;
  color: #afafaf;
  text-align: center;
  transition: 0.4s ease-in-out;
}
main #isotope1 .isotop_card .isotop_details .span_hover {
  position: absolute;
  top: 24px;
  left: 97px;
  transform: translateX(300px);
  transition: 0.4s ease-in-out;
}
main #isotope1 .isotop_card .isotop_details .span_hover span {
  transition: 0.3s ease-in-out;
}
main #isotope1 .isotop_card .isotop_details .span_hover span:hover {
  color: #f34f3f;
}
main #valentine {
  background-color: #f3f3f3;
  padding: 80px 0;
}
main #valentine .iframe_box {
  position: relative;
  overflow: hidden;
}
main #valentine .iframe_box img {
  width: 100%;
  transition: 0.2s ease-in-out;
}
main #valentine .iframe_box img:hover {
  transform: scale(1.03);
}
main #valentine .iframe_box a {
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  padding: 40px;
  border-right: 50%;
  background-color: white;
  position: absolute;
  top: calc((100% - 100px) / 2);
  left: calc((100% - 100px) / 2);
}
main #valentine .iframe_box a i {
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: #f34f3f;
}
main #valentine .iframe_right {
  max-width: 465px;
  margin: 0 auto;
}
main #valentine .iframe_right h1 {
  color: rgba(0, 0, 0, 0.842);
}
main #valentine .iframe_right h1 span {
  color: #f34f3f;
}
main #valentine .iframe_right .hand_items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main #valentine .iframe_right .hand_items li img {
  margin-right: 11px;
}
main #valentine .iframe_right .hand_items li span {
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: 400;
  color: rgb(109, 106, 106);
  line-height: 29px;
  margin: 0 0 30px 0;
}
main #expert {
  padding: 80px 0;
}
main #expert h1,
main #expert p {
  font-family: "Lora", serif;
}
main #expert .expert_header {
  text-align: center;
}
main #expert .expert_header h1 {
  color: rgba(0, 0, 0, 0.842);
}
main #expert .expert_header p {
  max-width: 535px;
  margin: 0 auto;
}
main #expert .expert_images .expert_img {
  width: 222px;
  margin: 0 auto;
  margin-bottom: 20px;
}
main #expert .expert_images .expert_img img {
  width: 100%;
  cursor: pointer;
}
main #expert .expert_images .expert_details {
  flex-direction: column;
  text-align: center;
}
main #expert .expert_images .expert_details a {
  text-transform: uppercase;
  margin-bottom: 5px;
}
main #join {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-size: inherit;
  background-attachment: fixed;
}
main #join .join_box {
  width: 100%;
  margin: 100px 0;
}
main #join .join_box h1 {
  color: white;
  text-align: center;
  font-size: 30px;
}
main #join .join_box form {
  justify-content: flex-start;
}
main #join .join_box form input {
  width: 72%;
  font-size: 12px;
  color: #959595;
  border: none;
  padding: 21px;
}
main #join .join_box form input::-moz-placeholder {
  font-size: 12px;
  color: #959595;
}
main #join .join_box form input:-ms-input-placeholder {
  font-size: 12px;
  color: #959595;
}
main #join .join_box form input::placeholder {
  font-size: 12px;
  color: #959595;
}
main #join .join_box form button {
  width: 28%;
  border: none;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  background-color: #f34f3f;
  height: 60px;
  transition: 0.5s ease-in-out;
}
main #join .join_box form button:hover {
  background-color: rgb(235, 38, 38);
}
main #blog {
  padding: 100px 0;
  background-color: #f3f3f3;
}
main #blog .blog_box .blog_img {
  overflow: hidden;
  position: relative;
  width: 100%;
}
main #blog .blog_box .blog_img:hover img {
  transform: scale(1.07);
}
main #blog .blog_box .blog_img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
main #blog .blog_box .blog_img .blog_time {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 18px;
  background-color: #fff;
}
main #blog .blog_box .blog_img .blog_time a {
  transition: 0.3s ease-in-out;
  font-size: 10px;
  font-weight: 500;
}
main #blog .blog_box .blog_img .blog_time a:hover {
  color: #f34f3f;
}
main #blog .blog_box .blog_details h1 {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 5px 0;
}
main #blog .blog_box .blog_details p {
  max-width: 264px;
  font-size: 15px;
}
main #swiper_navigation {
  padding: 100px 0;
}
main #swiper_navigation .swiper {
  width: 100%;
  height: 100%;
}
main #swiper_navigation .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main #swiper_navigation .swiper .swiper-slide p {
  font-family: "Lora", serif;
  font-style: italic;
  color: #4b4747;
  font-size: 24px;
  line-height: 1.5em;
  max-width: 496px;
  margin: 30px 0;
}
main #swiper_navigation .swiper-button-next i,
main #swiper_navigation .swiper-button-prev i {
  color: gray;
  font-size: 20px;
}
main #swiper_navigation .swiper-button-next::after,
main #swiper_navigation .swiper-button-prev::after {
  content: "";
  display: none;
}
main #swiper_navigation .swiper-button-prev::after {
  content: "";
  display: none;
}
main #iframe_fixed iframe {
  display: none;
  position: fixed;
  top: 160px;
  left: calc((100% - 300px) / 2);
  width: 300px;
  height: 200px;
  margin: 0 auto;
  z-index: 2;
}

footer {
  background-color: #fefaf3;
  padding: 70px 0 0 0;
}
footer .row_foot {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
footer .footer_box {
  padding-bottom: 70px;
}
footer .footer_box li {
  margin: 0 0 5px 0;
}
footer .footer_box li a {
  cursor: pointer;
  color: black;
  text-transform: uppercase;
}
footer .footer_box li span {
  color: #837d7d;
}
footer .footer_box li:first-child {
  margin-bottom: 25px;
}
footer .footer_left span:nth-child(2) {
  color: rgba(0, 0, 0, 0.842);
}
footer .footer_centre {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .footer_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
footer .footer_right span {
  color: rgba(87, 86, 86, 0.448);
  font-size: 10px;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */