@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
footer .footer_centre img, main #standard_categories .isotop_card .img img, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .img_and_desc img, header #main_nav .nav_left img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

main #standard_categories .isotop_card .isotop_details, main #standard_categories .categories_left .another_li a, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .total_part, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part .span_descs, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart #add_to_cart_icon span, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3, header #main_nav .nav_details, main #standard_categories .nav_details-3 .special_add_to_cart #add_to_cart_icon span, main #standard_categories .nav_details-2 .special_add_to_cart #add_to_cart_icon span, main #standard_categories .nav_details-3, main #standard_categories .nav_details-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #standard_categories .nav_details-3, main #standard_categories .nav_details-2 {
  justify-content: flex-start;
  gap: 50px;
}
main #standard_categories .nav_details-3 li a, main #standard_categories .nav_details-2 li a {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
main #standard_categories .nav_details-3 .special_add_to_cart i, main #standard_categories .nav_details-2 .special_add_to_cart i {
  font-size: 19px;
  font-weight: 600;
  color: rgba(27, 27, 27, 0.7411764706);
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
main #standard_categories .nav_details-3 .special_add_to_cart #add_to_cart_icon, main #standard_categories .nav_details-2 .special_add_to_cart #add_to_cart_icon {
  position: relative;
  color: #1b1b1b;
  margin-right: 5px;
  margin-left: 15px;
}
main #standard_categories .nav_details-3 .special_add_to_cart #add_to_cart_icon span, main #standard_categories .nav_details-2 .special_add_to_cart #add_to_cart_icon span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  border-right: 50%;
  top: -3px;
  right: -3px;
  background-color: #f34f3f;
}
main #standard_categories .nav_details-3 .special_add_to_cart span, main #standard_categories .nav_details-2 .special_add_to_cart span {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

footer .footer_right span, footer .footer_box li a, main #standard_categories .isotop_card .isotop_details a, main #standard_categories .nav_details-3 li .isotop_mini_details li, main #standard_categories .nav_details-2 li, main #standard_categories .categories_left li a, header #mobile_nav .mobile_box .special_add_to_cart span, header #mobile_nav .mobile_box .nav_home_details_home li a, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part button, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part .span_descs, header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part a {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
}

footer .footer_left span {
  font-size: 12px;
  color: #afafaf;
}

main #product_list .product_header h1, header #mobile_nav .mobile_box #shop_li .nav_all_ul .nav_home_details2 span, header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 span {
  font-family: "Playfair Display", serif;
  font-size: 38px;
  font-weight: 400;
  color: black;
  line-height: 51px;
  margin: 0 0 20px 0;
}

footer .footer_box li span {
  font-size: 12px;
  color: #afafaf;
  text-align: center;
  transition: 0.4s ease-in-out;
}

header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 {
  height: 0;
  overflow: hidden;
  width: 240px;
  background-color: #fff;
  position: absolute;
  top: 67px;
  left: -26px;
  z-index: 8;
  transition: 0.3s ease-in-out;
  padding: 0 0 0 26px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 li, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 li {
  margin-bottom: 13px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 li a, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 li:first-child, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 li:first-child {
  padding-top: 20px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 li:first-child a, header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 li:first-child a {
  border-bottom: 1px solid #1b1b1b;
}

main #product_list .product_header p {
  Font-family: "Lora", serif;
  font-style: italic;
  color: #4b4747;
  font-size: 24px;
  line-height: 1.5em;
  max-width: 496px;
  margin: 30px 0;
}

header {
  position: relative;
}
@media (max-width: 1204px) {
  header #main_nav {
    padding: 47px 0;
  }
}
header #main_nav .nav_left img {
  width: 80%;
}
@media (max-width: 1204px) {
  header #main_nav .nav_left img {
    width: 208px;
  }
}
header #main_nav .row_nav {
  position: relative;
}
header #main_nav .nav_details {
  justify-content: flex-start;
  gap: 50px;
}
@media (max-width: 1204px) {
  header #main_nav .nav_details {
    display: none;
  }
}
@media (min-width: 1337px) {
  header #main_nav .nav_details {
    justify-content: end;
  }
}
header #main_nav .nav_details li {
  position: relative;
  padding: 45px 0;
  position: relative;
}
header #main_nav .nav_details li a {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
header #main_nav .nav_details li a:hover::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
header #main_nav .nav_details li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.4s ease-in-out;
}
header #main_nav .nav_details li #home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #main_nav .nav_details li .nav_home_details {
  height: 0;
  overflow: hidden;
  width: 210px;
  background-color: #fff;
  position: absolute;
  top: 107px;
  left: -26px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
}
header #main_nav .nav_details li .nav_home_details li {
  margin-bottom: 17px;
  padding: 0;
}
header #main_nav .nav_details li .nav_home_details li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details li .nav_home_details li #main_home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #main_nav .nav_details li .nav_home_details li:first-child {
  padding-top: 20px;
}
header #main_nav .nav_details #home_li:hover .nav_home_details {
  height: 310px;
}
header #main_nav .nav_details #pages_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #portfolio_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #blog_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #elements_li:hover .nav_home_details {
  height: 140px;
}
header #main_nav .nav_details #shop_li {
  position: static;
}
header #main_nav .nav_details #shop_li:hover .nav_all_ul {
  height: 460px;
}
header #main_nav .nav_details #shop_li .nav_all_ul {
  height: 0;
  display: flex;
  justify-content: start;
  position: absolute;
  gap: 150px;
  top: 100px;
  left: 10px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li {
  margin-bottom: 17px;
  padding: 0;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 li:first-child {
  padding-top: 20px;
}
header #main_nav .nav_details #shop_li .nav_all_ul .nav_home_details2 span {
  color: rgba(0, 0, 0, 0.842);
  font-size: 22px;
  font-weight: 500;
}
header #main_nav .nav_details .special_add_to_cart {
  display: flex;
}
header #main_nav .nav_details .special_add_to_cart i {
  font-size: 19px;
  font-weight: 600;
  color: rgba(27, 27, 27, 0.7411764706);
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
header #main_nav .nav_details .special_add_to_cart i:first-child:hover {
  color: #f34f3f;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 {
  width: auto;
  height: auto;
  position: absolute;
  gap: 12px;
  top: 114px;
  right: 136px;
  left: auto;
  transform: translateY(-46px);
  height: 0;
  padding: 0;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 input {
  font-size: 12px;
  color: #959595;
  border: none;
  padding: 0px;
  width: 260px;
  height: 44px;
  margin: 7px 0;
  padding: 0 12px 0 20px;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 input::-moz-placeholder {
  font-size: 12px;
  color: #959595;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 input:-ms-input-placeholder {
  font-size: 12px;
  color: #959595;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 input::placeholder {
  font-size: 12px;
  color: #959595;
}
header #main_nav .nav_details .special_add_to_cart .glasses .nav_home_details3 i {
  font-size: 16px;
  font-weight: 600;
  color: #959595;
  line-height: 12px;
  text-decoration: none;
  letter-spacing: 0.1em;
  cursor: pointer;
  padding-right: 12px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart:hover .nav_home_details4 {
  display: block;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart #add_to_cart_icon {
  position: relative;
  color: #1b1b1b;
  margin-right: 5px;
  margin-left: 15px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart #add_to_cart_icon span {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 9px;
  font-weight: 700;
  color: white;
  margin: 0 auto;
  border-right: 50%;
  top: -3px;
  right: -3px;
  background-color: #f34f3f;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart span {
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 {
  display: none;
  position: absolute;
  top: 65px;
  left: -103px;
  height: auto;
  width: auto;
  padding: 40px 0 0 0;
  width: 245px;
  flex-direction: column;
  padding-bottom: 20px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 li {
  font-weight: 500;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  padding: 0 !important;
  margin: 23px 20px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that {
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 18px;
  margin-bottom: 10px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to {
  width: 100%;
  gap: 18px;
  justify-content: flex-start;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .img_and_desc img {
  width: 50px;
  height: 66px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part a {
  text-transform: uppercase;
  font-size: 11px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part .span_descs {
  justify-content: flex-start;
  gap: 20px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .all_of_that .card_of_add_to .desc_part .span_descs i {
  font-size: 16px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .total_part {
  justify-content: space-between;
  padding: 0 18px;
  width: 100%;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .total_part :first-child {
  font-weight: 700;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part {
  padding: 0 18px;
  width: 100%;
  justify-content: space-between;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part button {
  border: none;
  font-size: 9px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", serif;
  background-color: #f34f3f;
  height: 40px;
  padding: 0 18px;
  transition: 0.5s ease-in-out;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part button:hover {
  background-color: rgb(235, 38, 38);
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part :last-child {
  background-color: #1b1b1b;
  margin-left: 5px;
}
header #main_nav .nav_details .special_add_to_cart .for_add_to_cart .nav_home_details4 .button_part :last-child:hover {
  background-color: #1b1b1b;
  opacity: 0.9;
}
header #main_nav .bar {
  display: flex;
  justify-content: end;
  gap: 50px;
}
header #main_nav .bar li i {
  display: none;
  cursor: pointer;
}
@media (max-width: 1204px) {
  header #main_nav .bar li i {
    display: block;
  }
}
header #mobile_nav .mobile_box {
  transform: translateX(100%);
  transition: 0.3s ease-in-out;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  padding: 83px 56px 100px 35px;
  width: 350px;
  gap: 16px;
}
header #mobile_nav .mobile_box li {
  position: relative;
  margin-bottom: 16px;
}
header #mobile_nav .mobile_box li a {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #1b1b1b;
  line-height: 22px;
  text-decoration: none;
  letter-spacing: 0.1em;
}
header #mobile_nav .mobile_box li a:hover::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
header #mobile_nav .mobile_box li a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.4s ease-in-out;
}
header #mobile_nav .mobile_box li a::before #home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #mobile_nav .mobile_box li .nav_home_details {
  height: 0;
  overflow: hidden;
  width: 240px;
  background-color: #fff;
  position: absolute;
  top: 107px;
  left: -26px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
}
header #mobile_nav .mobile_box li .nav_home_details li {
  margin-bottom: 17px;
  padding: 0;
}
header #mobile_nav .mobile_box li .nav_home_details li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #mobile_nav .mobile_box li .nav_home_details li #main_home_id {
  border-bottom: 1px solid rgb(109, 106, 106);
}
header #mobile_nav .mobile_box li .nav_home_details li:first-child {
  padding-top: 20px;
}
header #mobile_nav .mobile_box .nav_home_details_home li {
  margin-bottom: 4px;
}
header #mobile_nav .mobile_box .nav_home_details_home li a {
  text-transform: uppercase;
  color: green;
  font-size: 10px;
}
header #mobile_nav .mobile_box #home_li {
  display: flex;
  justify-content: space-between;
}
header #mobile_nav .mobile_box #home_li i {
  font-size: 18px;
  cursor: pointer;
}
header #mobile_nav .mobile_box #home_li #home_id:hover {
  color: green;
}
header #mobile_nav .mobile_box #shop_li {
  position: static;
}
header #mobile_nav .mobile_box #shop_li .nav_all_ul {
  height: 0;
  display: flex;
  justify-content: start;
  position: absolute;
  gap: 150px;
  top: 100px;
  left: 10px;
  z-index: 8;
  transition: 0.4s ease-in-out;
  padding: 0 0 0 26px;
  width: 1140px;
  background-color: #fff;
  overflow: hidden;
}
header #mobile_nav .mobile_box #shop_li .nav_all_ul .nav_home_details2 li {
  margin-bottom: 17px;
  padding: 0;
}
header #mobile_nav .mobile_box #shop_li .nav_all_ul .nav_home_details2 li a {
  position: relative;
  border: none;
  font-size: 13px;
  color: rgb(109, 106, 106);
  letter-spacing: 0px;
  transition: 0.3s ease-in-out;
}
header #mobile_nav .mobile_box #shop_li .nav_all_ul .nav_home_details2 li:first-child {
  padding-top: 20px;
}
header #mobile_nav .mobile_box #shop_li .nav_all_ul .nav_home_details2 span {
  color: rgba(0, 0, 0, 0.842);
  font-size: 22px;
  font-weight: 500;
}
header #mobile_nav .mobile_box .special_add_to_cart i {
  font-size: 13px;
}
main #product_list {
  padding: 60px 0;
  background-color: #fafaf9;
}
main #product_list .product_header h1 {
  font-size: 50px;
}
main #product_list .product_header p {
  font-size: 17px;
  margin: 0;
}
main #standard_categories {
  padding: 80px 0;
}
@media (max-width: 992px) {
  main #standard_categories .clf {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 508px) {
  main #standard_categories .clf {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
  }
}
main #standard_categories .categories_left li a {
  color: rgba(128, 128, 128, 0.739);
}
main #standard_categories .categories_left li:first-child {
  margin-bottom: 15px;
}
main #standard_categories .categories_left li:first-child a {
  color: black;
}
main #standard_categories .categories_left .spec_price {
  position: relative;
}
main #standard_categories .categories_left .spec_price::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 215px;
  height: 3px;
  background-color: black;
}
main #standard_categories .categories_left .spec_price:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
main #standard_categories .categories_left .spec_price a {
  position: relative;
}
main #standard_categories .categories_left .spec_price a:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 215px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
main #standard_categories .categories_left .another_li {
  width: 215px;
  margin: 30px 0 0 0;
}
main #standard_categories .categories_left .another_li a {
  justify-content: space-between;
}
@media (max-width: 582px) {
  main #standard_categories .data_row .col-lg-3 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
main #standard_categories .nav_details-2 {
  gap: 33px;
}
@media (max-width: 992px) {
  main #standard_categories .nav_details-2 {
    display: none;
  }
}
@media (max-width: 776px) {
  main #standard_categories .nav_details-2 {
    justify-content: center;
  }
}
main #standard_categories .nav_details-2 .active {
  color: red;
}
@media (max-width: 776px) {
  main #standard_categories .nav_details-2 .re {
    display: none;
  }
}
main #standard_categories .nav_details-3 {
  justify-content: flex-end;
}
main #standard_categories .nav_details-3:hover .isotop_mini_details {
  display: block;
}
main #standard_categories .nav_details-3 li {
  position: relative;
}
main #standard_categories .nav_details-3 li i {
  margin-left: 10px;
}
main #standard_categories .nav_details-3 li .isotop_mini_details {
  display: none;
  position: absolute;
  top: 0;
  left: -145px;
  z-index: 5;
  background-color: white;
  width: 139px;
  padding-left: 10px;
}
main #standard_categories .nav_details-3 li .isotop_mini_details li {
  margin-bottom: 6px;
  color: rgb(61, 111, 61);
}
@media (max-width: 580px) {
  main #standard_categories .col-lg-3 {
    width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 362px) {
  main #standard_categories .col-lg-3 {
    width: 220px;
    margin: 0 auto;
  }
}
main #standard_categories .isotop_card {
  margin: 0;
}
@media (max-width: 776px) {
  main #standard_categories .isotop_card {
    width: 100%;
  }
}
@media (max-width: 580px) {
  main #standard_categories .isotop_card {
    width: 320px;
    margin: 0 auto;
  }
}
@media (max-width: 362px) {
  main #standard_categories .isotop_card {
    width: 220px;
    margin: 0 auto;
  }
}
@media (max-width: 362px) {
  main #standard_categories .isotop_card {
    width: 220px;
    margin: 0 auto;
  }
}
@media (max-width: 1204px) {
  main #standard_categories .isotop_card .img img {
    width: 222px;
  }
}
@media (max-width: 1198px) {
  main #standard_categories .isotop_card .img img {
    width: 227px !important;
  }
}
main #standard_categories .isotop_card:hover .img img {
  transform: scale(1.03);
}
main #standard_categories .isotop_card:hover .isotop_details span {
  transform: translateX(300px);
}
main #standard_categories .isotop_card:hover .isotop_details .span_hover {
  transform: translateX(0px);
}
main #standard_categories .isotop_card .img {
  width: 245px;
  margin: 0 auto;
}
main #standard_categories .isotop_card .img img {
  width: 100%;
  transition: 0.3s ease-in-out;
}
main #standard_categories .isotop_card .isotop_details {
  flex-direction: column;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
}
main #standard_categories .isotop_card .isotop_details a {
  text-transform: uppercase;
  margin-bottom: 5px;
}
main #standard_categories .isotop_card .isotop_details span {
  font-size: 12px;
  color: #afafaf;
  text-align: center;
  transition: 0.4s ease-in-out;
}
main #standard_categories .isotop_card .isotop_details .span_hover {
  position: absolute;
  top: 24px;
  left: 97px;
  transform: translateX(300px);
  transition: 0.4s ease-in-out;
}
@media (max-width: 1204px) {
  main #standard_categories .isotop_card .isotop_details .span_hover {
    left: 77.5px;
  }
}
@media (max-width: 992px) {
  main #standard_categories .isotop_card .isotop_details .span_hover {
    left: 134.5px;
  }
}
@media (max-width: 768px) {
  main #standard_categories .isotop_card .isotop_details .span_hover {
    left: 224.5px;
  }
}
@media (max-width: 582px) {
  main #standard_categories .isotop_card .isotop_details .span_hover {
    left: 126.5px;
  }
}
@media (max-width: 367px) {
  main #standard_categories .isotop_card .isotop_details .span_hover {
    left: 76.5px;
  }
}
main #standard_categories .isotop_card .isotop_details .span_hover span {
  transition: 0.3s ease-in-out;
}
main #standard_categories .isotop_card .isotop_details .span_hover span:hover {
  color: #f34f3f;
}

footer {
  background-color: #fefaf3;
  padding: 70px 0 0 0;
}
@media (max-width: 992px) {
  footer .col-lg-4 {
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }
  footer .col-lg-4 .footer_right {
    justify-content: center;
  }
  footer .row_bg {
    gap: 35px;
  }
  footer .row_em {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 776px) {
  footer .col-lg-3 {
    display: inline-flex;
    justify-content: center;
    text-align: center;
  }
}
footer .row_foot {
  border-bottom: 1px solid rgba(128, 128, 128, 0.25);
}
footer .footer_box {
  padding-bottom: 70px;
}
footer .footer_box li {
  margin: 0 0 5px 0;
}
footer .footer_box li a {
  cursor: pointer;
  color: black;
  text-transform: uppercase;
}
footer .footer_box li span {
  color: #837d7d;
}
footer .footer_box li:first-child {
  margin-bottom: 25px;
}
footer .footer_left span:nth-child(2) {
  color: rgba(0, 0, 0, 0.842);
}
footer .footer_centre {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .footer_right {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
footer .footer_right span {
  color: rgba(87, 86, 86, 0.448);
  font-size: 10px;
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=style.css.map */